# Example configuration file; rename this to config.py and replace the entries below with
# values appropriate to you.

probe_id = "<probe id goes here>"

adafruit_io_username = "<your username goes here>"
adafruit_io_key = "<your key goes here>"

sleep_between_samples = 60
