# Example configuration file; rename this to config.py and replace the entries below with
# values appropriate to you.

probe-id = "<alpha probe id goes here>"

adafruit-io-username = "<your username goes here>"
adafruit-io-key = "<your key goes here>"
